{% extends 'Theblog/base.html' %}

{% block title %}
   Profile
{% endblock title %}

{% block content %}

<h1 class="Firstrow">Profile</h1>

    <div class="content-section">
      
      <div class="container">
          <div class="row">
            <div class="media">           
              <img class="rounded-circle account-img" src="{{ user.userprofile.profile_picture.url }}">
              {# {{ user.userprofile.profile_picture.url }} #}
              <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p> {{user.userprofile.bio}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <a href="{% url 'edit-profile' user.userprofile.id %}">Edit profile</a>
            
            {# <input type="file" id="upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" multiple /> #}
{#             <a href="" onclick="document.getElementById('id_profile_picture').click(); return false">Change Profile Picture</a> #}
          </div>

        

      </div>  
      <!-- FORM HERE -->
    </div>

<style type="text/css">
      /*#id_profile_picture{
        visibility: hidden;
        width: 1px;
        height: 1px;
      }*/
    	.content-section {
			  background: #ffffff;
			  padding: 10px 20px;
			  border: 1px solid #dddddd;
			  border-radius: 3px;
			  margin-bottom: 20px;
			}
			.account-img {
          height: 125px;
          width: 125px;
          margin-right: 20px;
          margin-bottom: 16px;
        }
</style>

{% endblock content %}