{% extends 'Theblog/base.html' %}

{% block title %}
    Create new Blog
{% endblock title %}

{% block content %}
<style type="text/css">
	.Firstrow{
		margin-left: 10px;
	}
</style>
 {% if user.is_authenticated %}
<h1 class="Firstrow">Create new Blog</h1>
<br>
<div class="row Firstrow">
	<div class="col-lg-6">
		<div class="form-group">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
			{{form.media}}
			{{form.as_p}}
			<button name="submit">Post</button>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	var name='{{user.id}}';
	document.getElementById('author_name').value=name;
</script>
{% else %}
<br>
<strong>You are restricted here.</strong>
{% endif %}


{% endblock content %}